
$baseColor : #0387D1;
$accentColor: #369127;
$gray : #888;
$light_gray : lighten($gray, 10%);
$bdc: #ccc;
$alert: #B41419;
//$sim_main_width: 740px;
$sim_ctrl_width: 280px;
$font_family:  Avenir ,'Century Gothic', "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Roboto , "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;