@charset "UTF-8";
@keyframes answer_input_glow {
  0% {
    box-shadow: 0 0 3px rgba(3, 135, 209, 0); }
  50% {
    box-shadow: 0 0 3px #0387D1; } }
@-webkit-keyframes spin {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes spin {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative; }

/* h1,h2,h3,h4,h5,h6{
	font-size: 100%;
} */
img {
  vertical-align: middle; }

body {
  background-color: #fff;
  color: #444;
  font-size: 100%;
  line-height: 1.5;
  font-family: Avenir, "Century Gothic", "Open Sans", "Helvetica Neue", Helvetica, Arial, Roboto, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  height: 100%; }

button, input {
  font-family: Avenir, "Century Gothic", "Open Sans", "Helvetica Neue", Helvetica, Arial, Roboto, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 100%; }

input {
  outline: 0;
  line-height: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  transition: .2s;
  color: #0387D1;
  font-size: 100%;
  padding: .7em;
  box-shadow: 0 0 0 transparent; }
  input[size="2"] {
    width: 3em; }
  input[disabled] {
    border-bottom-color: #a2a2a2;
    opacity: .5; }
  input:focus {
    background-color: #d5effe; }
  input.num {
    border: none;
    border-bottom: 2px solid #0387D1;
    border-radius: 0;
    padding: .1rem .6rem; }
    input.num:focus {
      border-bottom: 2px solid #0ba5fc; }
    input.num[disabled] {
      border-bottom-color: #a2a2a2; }
  input[type="number"], input[type="text"], input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none; }

.select_wrapper {
  position: relative;
  display: inline-block; }
  .select_wrapper select {
    outline: 0;
    line-height: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    transition: .2s;
    color: #0387D1;
    font-size: 100%;
    padding: .7em;
    box-shadow: 0 0 0 transparent;
    display: inline-block;
    color: #333;
    padding: .5rem 3rem .5rem 2rem;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none; }
    .select_wrapper select[size="2"] {
      width: 3em; }
    .select_wrapper select[disabled] {
      border-bottom-color: #a2a2a2;
      opacity: .5; }
    .select_wrapper select:focus {
      background-color: #d5effe; }
    .select_wrapper select.num {
      border: none;
      border-bottom: 2px solid #0387D1;
      border-radius: 0;
      padding: .1rem .6rem; }
      .select_wrapper select.num:focus {
        border-bottom: 2px solid #0ba5fc; }
      .select_wrapper select.num[disabled] {
        border-bottom-color: #a2a2a2; }
  .select_wrapper::before {
    z-index: 1;
    position: absolute;
    right: 23px;
    top: 0;
    content: "\f107";
    font-family: "FontAwesome";
    line-height: 35px;
    color: #7F878C;
    pointer-events: none; }

a {
  color: #0387D1;
  outline: none; }

button {
  outline: none; }

.required {
  color: #B41419;
  font-size: x-small; }
  .required::before {
    content: "※";
    margin-right: 3px; }

.center_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.tac {
  text-align: center; }

.fwb {
  font-weight: bold; }

.m0 {
  margin: 0; }

.m05r {
  margin: 0.5rem; }

.m1r {
  margin: 1rem; }

.m2r {
  margin: 2rem; }

.m3r {
  margin: 3rem; }

.m4r {
  margin: 4em; }

.mt0 {
  margin-top: 0; }

.mt05r {
  margin-top: 0.5rem; }

.mt1r {
  margin-top: 1rem; }

.mt2r {
  margin-top: 2rem; }

.mt3r {
  margin-top: 3rem; }

.mt4r {
  margin-top: 4rem; }

.ml0 {
  margin-left: 0; }

.ml05r {
  margin-left: 0.5rem; }

.ml1r {
  margin-left: 1rem; }

.ml2r {
  margin-left: 2rem; }

.ml3r {
  margin-left: 3rem; }

.ml4r {
  margin-left: 4rem; }

.mr0 {
  margin-right: 0; }

.mr05r {
  margin-right: 0.5rem; }

.mr1r {
  margin-right: 1rem; }

.mr2r {
  margin-right: 2rem; }

.mr3r {
  margin-right: 3rem; }

.mr4r {
  margin-right: 4rem; }

.mb0 {
  margin-bottom: 0; }

.mb05r {
  margin-bottom: 0.5rem; }

.mb1r {
  margin-bottom: 1rem; }

.mb2r {
  margin-bottom: 2rem; }

.mb3r {
  margin-bottom: 3rem; }

.mb4r {
  margin-bottom: 4rem; }

.p0 {
  padding: 0; }

.p05r {
  padding: 0.5rem; }

.p1r {
  padding: 1rem; }

.p2r {
  padding: 2rem; }

.p3r {
  padding: 3rem; }

.p4r {
  padding: 4em; }

.pt0 {
  padding-top: 0; }

.pt05r {
  padding-top: 0.5rem; }

.pt1r {
  padding-top: 1rem; }

.pt2r {
  padding-top: 2rem; }

.pt3r {
  padding-top: 3rem; }

.pt4r {
  padding-top: 4rem; }

.pl0 {
  padding-left: 0; }

.pl05r {
  padding-left: 0.5rem; }

.pl1r {
  padding-left: 1rem; }

.pl2r {
  padding-left: 2rem; }

.pl3r {
  padding-left: 3rem; }

.pl4r {
  padding-left: 4rem; }

.pr0 {
  padding-right: 0; }

.pr05r {
  padding-right: 0.5rem; }

.pr1r {
  padding-right: 1rem; }

.pr2r {
  padding-right: 2rem; }

.pr3r {
  padding-right: 3rem; }

.pr4r {
  padding-right: 4rem; }

.pb0 {
  padding-bottom: 0; }

.pb05r {
  padding-bottom: 0.5rem; }

.pb1r {
  padding-bottom: 1rem; }

.pb2r {
  padding-bottom: 2rem; }

.pb3r {
  padding-bottom: 3rem; }

.pb4r {
  padding-bottom: 4rem; }

.fzxs {
  font-size: x-small; }

.fzs {
  font-size: small; }

.fz70p {
  font-size: 70%; }

.fz80p {
  font-size: 80%; }

.fz90p {
  font-size: 90%; }

.fz100p {
  font-size: 100%; }

.fz110p {
  font-size: 110%; }

.fz120p {
  font-size: 120%; }

.fz130p {
  font-size: 130%; }

.fz140p {
  font-size: 140%; }

.fz150p {
  font-size: 150%; }

.fz160p {
  font-size: 160%; }

.fz170p {
  font-size: 170%; }

.fz180p {
  font-size: 180%; }

.fz190p {
  font-size: 190%; }

.fz200p {
  font-size: 200%; }

.w4e {
  width: 4em; }

.w3e {
  width: 3em; }

.w100p {
  width: 100%; }

.cb {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.unit {
  font-size: x-small;
  display: inline-block; }

.base_color {
  color: #0387D1; }

.accent_color {
  color: #369127; }

.gray_color {
  color: #888; }

.lightgray_color {
  color: #a2a2a2; }

.alert_color {
  color: #B41419; }

.disclaimer {
  font-size: 70%; }

table {
  border-collapse: collapse; }
  table th, table td {
    border: 1px solid #ccc;
    padding: .4em;
    text-align: center; }

.logo_center {
  text-align: center; }
  .logo_center img {
    width: 300px; }

.list_reset {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.w60p {
  width: 60%;
  margin: auto; }

.w70p {
  width: 70%;
  margin: auto; }

.w80p {
  width: 80%;
  margin: auto; }

.w90p {
  width: 90%;
  margin: auto; }

.nav_flow {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff; }
  .nav_flow ul, .nav_flow li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .nav_flow ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
    height: 60px; }
    .nav_flow ul li {
      flex: 1 0 0;
      text-align: center;
      vertical-align: text-top;
      border-right: 1px solid #ccc;
      line-height: 1.3;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
      .nav_flow ul li:last-child {
        border-right: none; }
      .nav_flow ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        font-size: 90%;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        padding-top: 5px; }
        .nav_flow ul li a small {
          display: block;
          font-size: x-small; }
      .nav_flow ul li.current {
        background-color: #4990E2; }
        .nav_flow ul li.current a {
          color: white; }

.btn {
  border: none;
  padding: .8rem 1.2rem;
  font-size: 1rem;
  background-color: #0387D1;
  color: white;
  border-radius: 4px;
  transition: .2s;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
  line-height: 1;
  font-weight: bold;
  margin: 5px;
  vertical-align: top;
  /* &:hover {
  	transform: translateY(-1px);
  	box-shadow: 0 3px 10px #999;
  } */ }
  .btn i {
    margin-right: .5rem; }
  .btn .spin {
    display: none; }
  .btn.sending .spin {
    display: inline-block; }
  .btn.large {
    padding: 1.5em 4em;
    line-height: 0; }
  .btn.cancel {
    background-color: #999;
    color: white; }
  .btn.small {
    font-size: 70%;
    padding: .5rem .8rem .4rem;
    line-height: 1;
    font-weight: normal;
    vertical-align: middle; }
    .btn.small i {
      font-size: 1.1em;
      display: inline-block;
      vertical-align: middle;
      margin-right: .5rem; }
  .btn.skelton {
    background-color: transparent;
    border: 2px solid #0387D1;
    color: #0387D1; }
    .btn.skelton .fa {
      color: #0387D1; }
  .btn.negative {
    border-color: #a2a2a2;
    color: #a2a2a2; }
  .btn.accent {
    background-color: #369127;
    border: 1px solid #369127;
    color: white;
    font-weight: bold; }
  .btn[disabled], .btn.disabled {
    border: 1px solid #888;
    background-color: #888;
    color: white;
    opacity: .3; }
    .btn[disabled]:hover, .btn.disabled:hover {
      border: 1px solid #888;
      background-color: #888;
      color: white;
      cursor: default;
      transform: translateY(0px);
      box-shadow: none; }
  .btn.btn_accent_glow {
    animation: btn_accent_glow 1.0s infinite linear; }
@keyframes btn_accent_glow {
  0% {
    box-shadow: 0 0 0 #369127; }
  50% {
    box-shadow: 0 0 50px #369127; }
  100% {
    box-shadow: 0 0 0 #369127; } }
.frame {
  border-radius: 4px;
  padding: 2rem 4rem;
  display: inline-block; }
  .frame input {
    margin-right: 1rem; }
  .frame.line2 {
    padding: 2rem; }
  .frame.non_agreement_frame {
    background-color: #F1EFEF; }
  .frame.agreement_frame {
    background-color: #FAE7E7; }
  .frame.green_frame {
    background-color: rgba(54, 145, 39, 0.04);
    border: 1px solid #369127; }

.error_message {
  color: #B41419; }
  .error_message::before {
    content: "\f071";
    font-family: FontAwesome;
    margin-right: 5px; }

.tooltip {
  position: absolute;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ccc;
  font-size: x-small;
  z-index: 10;
  max-width: 400px;
  padding: 1rem 1rem 0;
  transform: scale(0);
  transition: 0.2s; }
  .tooltip.show_tooltip {
    transform: scale(1); }
  .tooltip .tit {
    font-weight: bold; }
  .tooltip p {
    margin-top: .1rem; }

.btn_close {
  top: -10px;
  right: -10px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1;
  vertical-align: middle;
  color: #888;
  z-index: 30; }
  .btn_close .fa {
    font-size: 24px; }

.spin {
  width: 40px;
  height: 40px;
  background: url(../img/icon_loading.png) center no-repeat;
  background-size: cover;
  -webkit-animation: spin 1s infinite;
  animation: spin 1s infinite;
  display: inline-block; }

.loading_container {
  position: fixed;
  visibility: hidden;
  z-index: 7;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  transition: 0.3s;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.97); }
  .loading_container .spinner {
    transform: scale(0); }
    .loading_container .spinner img {
      width: 36px;
      height: 36px; }

.show_loading .loading_container {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .show_loading .loading_container .spinner {
    transform: scale(1); }

.customer_journey_flow {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap; }
  .customer_journey_flow.relateive {
    position: relative;
    top: initial;
    top: auto;
    right: initial;
    right: auto; }
  .customer_journey_flow ul {
    width: auto;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    list-style-type: none;
    display: inline-block; }
  .customer_journey_flow li {
    margin: 0;
    display: inline-block;
    color: #ccc;
    font-size: small;
    padding: 1.2em .5rem 1.1em .5em;
    color: #333;
    line-height: 0;
    position: relative;
    margin-left: 2px;
    vertical-align: bottom; }
    .customer_journey_flow li span {
      position: relative;
      z-index: 1;
      vertical-align: bottom;
      display: none;
      font-weight: bold;
      font-size: 80%; }
    .customer_journey_flow li::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #ccc;
      -webkit-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
      transform: skewX(-20deg); }
    .customer_journey_flow li.current {
      padding-left: .9rem;
      padding-right: .9rem; }
      .customer_journey_flow li.current span {
        display: block;
        color: white; }
      .customer_journey_flow li.current::after {
        background-color: #0387D1; }
  .customer_journey_flow .words_faq {
    display: inline-block; }
    .customer_journey_flow .words_faq a {
      height: 100%;
      display: inline-block;
      border-radius: 2px;
      border: 1px solid #0387D1;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      line-height: 1;
      font-size: 80%;
      text-decoration: none;
      vertical-align: middle; }
      .customer_journey_flow .words_faq a .fa {
        margin-right: 5px; }

.overlay {
  z-index: -1;
  opacity: 0;
  transition: .2s;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95); }
  .overlay .btn_close {
    top: 20px;
    right: 20px;
    z-index: 21; }

.overlay_show.overlay {
  z-index: 2;
  opacity: 1; }

.faq_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .faq_container .word_faq_header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem; }
    .faq_container .word_faq_header h1 {
      margin: 0;
      margin-bottom: .5rem;
      font-size: 120%; }
  .faq_container .word_faq_container {
    width: 90%;
    height: 90%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch; }
  .faq_container .word_faq_main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    height: 100%;
    padding-bottom: 2rem; }
    .faq_container .word_faq_main .word_faq_index {
      flex: 1 0 auto;
      width: 200px;
      padding-left: 2rem;
      margin-top: 2rem; }
      .faq_container .word_faq_main .word_faq_index ul, .faq_container .word_faq_main .word_faq_index li {
        margin: 0;
        padding: 0;
        list-style-type: none; }
      .faq_container .word_faq_main .word_faq_index li {
        margin-bottom: 1rem; }
    .faq_container .word_faq_main .word_faq_content {
      overflow: auto;
      height: 100%;
      padding-right: 1rem; }
      .faq_container .word_faq_main .word_faq_content .faq_tit {
        font-size: 105%;
        margin-top: 0;
        font-weight: bold; }
      .faq_container .word_faq_main .word_faq_content section {
        margin-bottom: 2rem; }
        .faq_container .word_faq_main .word_faq_content section img {
          max-width: 100%; }

.bb_dotted {
  border-bottom: 1px dotted #CCC; }

@keyframes start_animation {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
html, body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Sawarabi Mincho"; }

/* font-family: 'Berkshire Swash', cursive;
font-family: 'Barrio', cursive;
font-family: 'Mystery Quest', cursive; */
.l-container {
  text-align: center; }

h2 {
  margin-top: 2.6em;
  margin-bottom: .8em; }

.p-main-visual {
  background: url(../img/main_visual.jpg) center no-repeat/cover;
  width: 100%;
  height: 80vh;
  position: relative; }
  .p-main-visual::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: url(../img/dot_pattern.png) center repeat; }
  .p-main-visual h1 {
    text-align: center;
    color: #ccc;
    font-size: 6vw;
    margin: 0;
    position: relative;
    z-index: 2;
    padding-top: 1em;
    font-family: 'Mystery Quest', cursive; }
    .p-main-visual h1 span {
      font-size: 30%; }

.p-main-message {
  font-size: 3vw;
  padding: 6vh 0; }

.p-live-info {
  margin-bottom: 4vh;
  font-size: 1.4vw; }
  .p-live-info time {
    font-size: 240%;
    line-height: 1; }
    .p-live-info time span {
      font-size: 70%; }
  .p-live-info .p-live-place {
    font-size: 180%; }
  .p-live-info p {
    margin: 0; }

.p-playsongs ul, .p-playsongs li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.p-playsongs ul {
  width: 700px;
  margin: auto; }
  .p-playsongs ul li {
    margin-bottom: 10px; }
    .p-playsongs ul li a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      flex-wrap: nowrap;
      text-decoration: none;
      color: #666;
      font-size: 80%;
      transition: .2s; }
      .p-playsongs ul li a:hover {
        opacity: .9; }
.p-playsongs .p-playsongs__thumb {
  position: relative;
  margin-right: 20px; }
  .p-playsongs .p-playsongs__thumb img {
    width: 150px;
    border-radius: 4px; }
  .p-playsongs .p-playsongs__thumb::after {
    content: "\f04b";
    font-family: FontAwesome;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
.p-playsongs .p-playsongs__content {
  text-align: left;
  text-decoration: none; }
  .p-playsongs .p-playsongs__content h3 {
    margin: 0; }
.p-playsongs .p-playsongs__detail {
  color: #888;
  font-size: 90%; }

footer {
  padding: 4vh;
  text-align: center; }

@media (max-width: 600px) {
  .p-main-visual {
    background: url(../img/main_visual_sp.jpg) center no-repeat/cover;
    height: 60vh; }
    .p-main-visual h1 {
      font-size: 12vw;
      padding-top: 2.2em; }
      .p-main-visual h1 span {
        font-size: 30%;
        display: block; }

  .l-container {
    padding: 0 1rem; }

  .p-main-message {
    font-size: 4.5vw;
    padding: 6vh 0; }

  .p-live-info {
    margin-bottom: 4vh;
    font-size: 80%; }
    .p-live-info time {
      margin-bottom: .3em;
      font-size: 240%;
      line-height: 1;
      display: block; }
      .p-live-info time span {
        font-size: 70%; }
    .p-live-info .p-live-place {
      font-size: 160%;
      margin-bottom: .5em; }
    .p-live-info p {
      margin: 0; }

  .p-playsongs ul {
    width: auto; }
    .p-playsongs ul li {
      margin-bottom: 20px; }
      .p-playsongs ul li a {
        display: block; }
  .p-playsongs .p-playsongs__thumb {
    margin-right: 0;
    margin-bottom: 5px; }
  .p-playsongs .p-playsongs__content h3 {
    text-align: center;
    margin: 0; } }
